* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h3 {
    color: white;
    font-size: 150px;
    font-weight: 800;
    line-height: 800px;
    text-align: center;
}

.section1 {
    background: url(./대자연.jpg) no-repeat fixed;
    background-size: cover;
}

.section2 {
    background: url(./건축물.jpg) no-repeat 50% 0 fixed;
    background-size: cover;
}

.section3 {
    background: url(./인테리어.jpg) no-repeat 50% 0 fixed;
    background-size: cover;
}