* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

.top {
    display: flex;
    position: absolute;
    top: 4%;
    left: 68%;
}

.dropdown-content {
    display: none;
}

ul:hover .dropdown-content {
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.dropdown-content:hover {
    background-color: gray;
}

.dropdown-content li a {
    color: black;
}

a {
    color: black;
}

.top1:hover {
    padding: 5px 5px;
    background-color: #0f5438;
    color: #ffffff;
    transition: background-color 0.3s;
    border-radius: 50px;
}

.content {
    padding: 10px;
}

.top2:hover {
    background-color: gray;
    color: #ffffff;
    transition: background-color 0.5s;
}

header h2 {
    color: #0f5438;
}

header b {
    padding: 20px 25px 0;
}

header {
    display: flex;
    padding: 20px;
}

nav h1 {
    color: white;
    background-color: #0f5438;
    text-align: center;
    padding: 20px;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#wrap ul {
    width: 4000px;
    height: 100px;
    position: relative;
    animation: slideAni 30s infinite ease-in-out;
}

#wrap li {
    width: 1000px;
    height: 500px;
    float: left;
}

#wrap li:nth-child(1) {
    background: url(https://cdn.imweb.me/upload/S20220318b8271c9a37983/b18259239ea7c.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(2) {
    background: url(https://cdn.imweb.me/upload/S20220318b8271c9a37983/b335171dd173f.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(3) {
    background: url(https://cdn.imweb.me/upload/S20220318b8271c9a37983/077a2678b75a6.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(4) {
    background: url(https://cdn.imweb.me/upload/S20220318b8271c9a37983/41b4d0b22d197.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes slideAni {
    0% {
        left: 0;
    }

    25% {
        left: -1000px;
    }

    50% {
        left: -2000px;
    }

    75% {
        left: -3000px;
    }

    100% {
        left: 0px;
    }
}