* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

.top {
    display: flex;
    position: absolute;
    top: 4%;
    left: 68%;
}

.dropdown-content {
    display: none;
}

ul:hover .dropdown-content {
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.dropdown-content:hover {
    background-color: gray;
}

.dropdown-content li a {
    color: black;
}

a {
    color: black;
}

.top1:hover {
    padding: 5px 5px;
    background-color: #0f5438;
    color: #ffffff;
    transition: background-color 0.3s;
    border-radius: 50px;
}

.content {
    padding: 10px;
}

.top2:hover {
    background-color: gray;
    color: #ffffff;
    transition: background-color 0.5s;
}

header h2 {
    color: #0f5438;
}

header b {
    padding: 20px 25px 0;
}

header {
    display: flex;
    padding: 20px;
}

.back{
    width: 400px;
    height: 50px;
}

nav h1 {
    color: white;
    background-color: #0f5438;
    text-align: center;
    padding: 20px;
}
#container {
    width: 1000px;
    height: 500px;
    /* border: 2px solid seagreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.arrow {
    z-index: 100;
    font-size: 2em;
    background-color: #ddd;
    color: black;
    width: 30px;
    text-align: center;
}
.arrow:hover{
    cursor: pointer;
    opacity: 1;
}
