* {
    padding: 0;
    margin: 0;
    list-style: none;
}

section {
    height: 100%;
    width: 100%;
    text-align: center;
}

.icon {
    font-size: 200px;
    padding: 70px;
}

.hon li {
    padding: 15px;
}

h3,
h1 {
    padding: 10px;
}

img {
    width: 800px;
    height: 400px;
}

footer {
    background-color: black;
    height: 170px;
    padding: 15px;
}

.end>p {
    border-top: 1px solid black;
    color: rgb(152, 152, 152);
}

.end {
    color: rgb(152, 152, 152);
}

.top {
    font-size: 50px;
    padding: 30px;
    position: fixed;
    top: 83%;
    left: 92%;
}

a {
    color: #0f5438;
}

a:hover {
    color: #0f5438;
}

.end li {
    margin: 15px;
    text-align: center;
}

.green {
    width: 700px;
    height: 400px;
}

.back {
    width: 300px;
    height: 40px;
}