* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header h2 {
    color: #0f5438;
}

header b {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav h1 {
    color: white;
    background-color: #0f5438;
    text-align: center;
    padding: 20px;
}

body {
    background-color: #f5f5f5;
}

section {
    height: 100%;
    width: 100%;
    text-align: center;
}

.icon {
    font-size: 200px;
    padding: 70px;
}

.hon li {
    padding: 15px;
}

h3,
h1 {
    padding: 10px;
}

img {
    width: 800px;
    height: 400px;
}

footer {
    background-color: black;
    height: 170px;
    padding: 15px;
}

.end {
    color: rgb(152, 152, 152);
}

.top {
    font-size: 50px;
    padding: 30px;
    position: fixed;
    top: 83%;
    left: 92%;
}

.usiro {
    position: fixed;
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
}

.usiro2 {
    text-decoration: none;
}


a {
    color: #0f5438;
}

a:hover {
    color: #0f5438;
}

.end li {
    margin: 15px;
    text-align: center;
}

.green {
    width: 700px;
    height: 400px;
}

.back {
    width: 300px;
    height: 40px;
}